<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ILNET.Client.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ILNET.Client.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ILNET.Client.Windows.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value>gefix</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>1q2w3e</value>
            </setting>
        </ILNET.Client.Windows.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ILNET.Client.Windows.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>localhost</value>
            </setting>
        </ILNET.Client.Windows.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
</configuration>
